.profile {
  width: 292px;
  height: 432px;
  display: flex;
  flex-direction: column;
  margin: 12px 85px 0 0;
}

.profile__photo {
  width: 280px;
  height: 280px;
  border-radius: 80%;
  object-fit: cover;
}

.profile__fullName {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #000000;
  margin: 28px 0 12px;
}

.profile__name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #0064eb;
  margin: 0 0 25px;
  text-decoration: none;
  transition: 0.1s linear 0.1s;
}

.profile__name:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__social {
  display: flex;
  justify-content: space-between;
}

.profile__social-followers {
  display: flex;
}

.profile__social-followers_icon {
  background: url(../../images/group.svg) no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  background-position: center;
}

.profile__social-following {
  display: flex;
}

.profile__social-following_icon {
  background: url(../../images/provate.svg) no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  background-position: center;
}

.profile__social_number {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

@media screen and (max-width: 770px) {
  .profile {
    margin: 12px 45px 0 0;
  }

  .profile__photo {
    width: 230px;
    height: 230px;
  }

  .profile__fullName {
    font-size: 22px;
    line-height: 30px;
    margin: 24px 0 10px;
  }

  .profile__name {
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 21px;
  }

  .profile__social-followers_icon {
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
  }

  .profile__social-following_icon {
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
  }

  .profile__social_number {
    font-size: 12px;
    line-height: 20px;
  }
}

@media screen and (max-width: 625px) {
  .profile {
    align-items: center;
    height: min-content;
    margin: 0 0 50px;
  }

  .profile__photo {
    width: 280px;
    height: 280px;
  }

  .profile__fullName {
    margin: 18px 0 8px;
  }

  .profile__name {
    margin: 0 0 16px;
  }

  .profile__social-followers {
    margin-right: 12px;
  }
}

@media screen and (max-width: 440px) {
  .profile__photo {
    width: 230px;
    height: 230px;
  }
}
