.card {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 24px;
}

.card__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #0064eb;
  margin: 24px 32px 16px;
  text-decoration: none;
  transition: 0.1s linear 0.1s;
}

.card__title:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card__description {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0 32px 24px;
}

@media screen and (max-width: 770px) {
  .card__title {
    font-size: 20px;
    line-height: 25px;
    margin: 22px 30px 12px;
  }

  .card__description {
    font-size: 13px;
    line-height: 15px;
    margin: 0 30px 22px;
  }
}
