.header {
  height: 72px;
  background-color: #0064eb;
  display: flex;
  align-items: center;
}

.header__logo {
  width: 41px;
  height: 40px;
  margin: 0 22px 0 41px;
}

@media screen and (max-width: 625px) {
  .header {
    height: 64px;
  }

  .header__logo {
    width: 37px;
    height: 36px;
    margin: 0 12px 0 16px;
  }
}
